<!-- <div class="container" style="margin-top:20px;">
    <h1><u>Get in Touch</u></h1>
    <form [formGroup]="contactForm" (ngSubmit)="contact()">
      <div class="mb-3">
        <label for="FirstName" class="form-label">First Name</label>
        <input formControlName="FirstName" type="text" class="form-control" id="FirstName">
    
      </div>
      <div class="mb-3">
        <label for="LastName" class="form-label">Last Name</label>
        <input formControlName="LastName" type="text" class="form-control" id="LastName">
    
      </div>
      <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input formControlName="Email" type="text" class="form-control" id="Email">
        <div class="errors" *ngIf="!contactForm.controls['Email']?.valid && (contactForm.controls['Email']?.dirty || contactForm.controls['Email']?.touched)">
            <div *ngIf="contactForm.controls['Email']?.errors?.['required']">Email is required</div>
            <div *ngIf="contactForm.controls['Email']?.errors?.['email']">Invalid email format</div>
          </div>
    
      </div>
      <div class="mb-3">
        <label for="Mobile" class="form-label">Mobile</label>
        <input formControlName="Mobile" type="text" class="form-control" id="Mobile">
    
      </div>
      <div class="mb-3">
        <label for="Message" class="form-label">Message</label>
        <input formControlName="Message" type="text" class="form-control" id="Message">
    
      </div>
 
      
      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Send Message</button>
    </form>
  </div>
   -->


   <div class="hero-wrap hero-bread" style="background-image: url('assets/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
          <h1 class="mb-0 bread">Contact us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
      <div class="row d-flex mb-5 contact-info">
        <div class="w-100"></div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="info bg-white p-4">
            <p><span>Website</span> <a href="#">yoursite.com</a></p>
          </div>
        </div>
      </div>
      <!-- <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
        <div class="col-sm-12" id="map">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
      </div> -->
      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
          <form action="#" class="bg-white p-5 contact-form" [formGroup]="contactForm" (ngSubmit)="contact()">
            <div class="form-group">
              <input formControlName="FirstName" type="text" class="form-control" id="FirstName" placeholder="Your First Name">
              <div class="errors" *ngIf="!contactForm.controls['FirstName']?.valid && (contactForm.controls['FirstName']?.dirty || contactForm.controls['FirstName']?.touched)">
                <div *ngIf="contactForm.controls['FirstName']?.errors?.['required']" class="text-danger">FirstName is required</div>

              </div>

            </div>
            <div class="form-group">
              <input formControlName="LastName" type="text" class="form-control" placeholder="Your Last Name">
              <div class="errors" *ngIf="!contactForm.controls['LastName']?.valid && (contactForm.controls['LastName']?.dirty || contactForm.controls['LastName']?.touched)">
                <div *ngIf="contactForm.controls['LastName']?.errors?.['required']" class="text-danger">LastName is required</div>

              </div>
            </div>
            <div class="form-group">
              <input formControlName="Email" type="text" class="form-control" placeholder="Your Email">
              <div class="errors" *ngIf="!contactForm.controls['Email']?.valid && (contactForm.controls['Email']?.dirty || contactForm.controls['Email']?.touched)">
                <div *ngIf="contactForm.controls['Email']?.errors?.['required']" class="text-danger">Email is required</div>
                <div *ngIf="contactForm.controls['Email']?.errors?.['email']" class="text-danger">Invalid email format</div>
              </div>
            </div>
            <div class="form-group">
              <input formControlName="Mobile" type="text" class="form-control" placeholder="Your Mobile">
              <div class="errors" *ngIf="!contactForm.controls['Mobile']?.valid && (contactForm.controls['Mobile']?.dirty || contactForm.controls['Mobile']?.touched)">
                <div *ngIf="contactForm.controls['Mobile']?.errors?.['required']" class="text-danger">Mobile is required</div>

              </div>
            </div>
            <div class="form-group">
              <textarea formControlName="Message" name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          
            <div class="errors" *ngIf="!contactForm.controls['Message']?.valid && (contactForm.controls['Message']?.dirty || contactForm.controls['Message']?.touched)">
              <div *ngIf="contactForm.controls['Message']?.errors?.['required']" class="text-danger">Message is required</div>
            </div>
          </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5" [disabled]="!contactForm.valid">
            </div>
            
          </form>
        
        </div>

        <div class="col-md-6 d-flex">
          <div id="map" class="bg-white">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.274257380938!2d-70.56068388481569!3d41.45496659976631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e52963ac45bbcb%3A0xf05e8d125e82af10!2sDos%20Mas!5e0!3m2!1sen!2sus!4v1671220374408!5m2!1sen!2sus" width="100%" height="300" style="border:0; height: 625px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>
      </div>
    </div>
  </section>