<div class="navbar">
    <div class="site-name">
        <img src="./assets/logo.png" class="logo">
        <span class="siteName">{{siteName}}</span>
    </div>
    <div class="site-menu">
        <a href="#" routerLink="/home">HOME</a>
        <a href="#" routerLink="/about">ABOUT</a>
        <a href="#" routerLink="/contact">CONTACT</a>
        <span *ngIf="loggedInUser; else loggedIn">
            Welcome, {{ loggedInUser.firstname }}! | <a href="#"  routerLink="/login" (click)="logout()">Logout</a>
          </span>
          <ng-template #loggedIn>
            <a [routerLink]="['/login']">Login</a>
          </ng-template>
          
          <div class="cart-badge">
            <a routerLink="/cart" >CART</a>
            <div class="badge bg-danger">{{cartItemCount}}</div>
        </div>
        </div>
      
    </div>
 


<div class="header">
    <h1>{{title| uppercase}}</h1>
</div>
