<h2>Order Details</h2>
<table class="table">

    <thead>
      <tr>
        <th>Sno</th>
        <th>Order ID</th>
        <th>User Id</th>
        <th>Transaction Id</th>
  
        <th>Total</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders | paginate: { itemsPerPage: 6, currentPage: p};let i=index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.id }}</td>
      
        <td>{{ order.userId }}</td>
     <td>{{order.transactionId}}</td>
      
        <td>{{ order.totalPrice }}</td>
        <td>
  <button (click)="navigateToOrderDetails(order.id)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="pagination-container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>



  