/* Set fixed width and height for the images */
.fixed-size-img {
    width: 100%; 
    height: 200px;

    object-fit: cover; 
  }
  
  /* Equal height row for the containers */
  .equal-height-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Equal height columns within the row */
  .equal-height-col {
    display: flex;
    flex-direction: column;
  }
  
  /* Ensure the columns grow to fill available space vertically */
  .equal-height-col .product {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
 
  