<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<app-admin></app-admin>
<div class="container mt-5">
    <h2 style="text-align: center;"><u>Food List</u></h2>
    <div class="add-food-button">
      <button class="btn btn-success" routerLink="/addfood">Add Food</button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
       
          <th>Name</th>
          <th>Type</th>
          <th>Price</th>
        
        
          <!-- <th>Images</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods">
       
          <td>{{ food.name }}</td>
          <td>{{ food.type }}</td>
          <td>{{ food.price }}</td>
       
      
          <!-- <td style="display: flex;">
            <div *ngFor="let image of food.images">
              <img [src]="image.url" class="img-thumbnail" style="width: 50px; height: 50px;">
            </div>
          </td>-->
          <td> 
            <div class="btn-group" role="group">
              <button class="btn btn-warning" >
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" >
                <i class="fas fa-trash"  (click)="deleteFood(food.id)"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  