<div class="row">
  <div class="col-sm-6" *ngFor="let address of addressData; let i = index">
    <div class="card">
      <div class="card-header">
        Address Details
      </div>
      <div class="card-body">
        <input type="radio" [name]="'addressRadioGroup'" [value]="i" [(ngModel)]="selectedAddressIndex" (change)="onAddressSelect(i)">
        <p><strong>Country:</strong> {{ address.country }}</p>
        <p><strong>State:</strong> {{ address.state }}</p>
        <p><strong>City:</strong> {{ address.city }}</p>
        <p><strong>Street Address:</strong> {{ address.streetAddress }}</p>
        <p><strong>Zip Code:</strong> {{ address.zipCode }}</p>
      </div>
    </div>
  </div>
</div>


<button class="btn btn-primary" style="width: 160px; margin-left: 20px;" routerLink="/addaddress">Add More Address</button>
