<html>
    <head>
        <meta charset="UTF-8">
    </head>
</html>

<body>
    <div class="header"></div>
    <input type="checkbox" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner top"></div>
        <div class="spinner middle"></div>
        <div class="spinner bottom"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="menu">
            <li ><a href="">Home</a></li>
            <li ><a href="">Products</a></li>
            <li ><a href="">Orders</a></li>
            <li ><a href="">Users</a></li>
            <li ><a href="">Logout</a></li>
        </ul>
    </div>
    <div class="main">
        <h1>Side bar</h1>
    </div>
</body>
