
<div class="container" style="margin-top:20px;" >
    <h1><u>Add Food</u></h1>
    <form [formGroup]="addForm" (ngSubmit)="addFood()" >
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="name" type="text" class="form-control" id="Name">
    
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Type</label>
        <input formControlName="type" type="text" class="form-control" id="Type">
    
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input formControlName="price" type="text" class="form-control" id="Price">
    
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        
        <input formControlName="quantity" type="text" class="form-control" id="Quantity">
     
    
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <textarea formControlName="desc" class="form-control" id="Description"></textarea>
      </div>
      <div class="mb-3">
        <img *ngFor="let url of urls" [src]="url"><br>
        <input type="file" (change)="onSelect($event)" multiple>
      </div>
      
    <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Add Product</button> 
    <button type="submit" class="btn btn-primary" routerLink="/home" style="margin-left:10px;">Cancel</button> 
    </form>
  </div>
  
