
<div class="filter-food">
    <span>Filter: </span>
    <input type="radio" value="All" name="all" 
    [(ngModel)]="selectedradiobuttton"
    (change)="onRadioButtonSelectionChanged()">All({{all}})
    <input type="radio" value="Fruits" name="fruits"
    [(ngModel)]="selectedradiobuttton"
    (change)="onRadioButtonSelectionChanged()">Fruits({{fruits}})
    <input type="radio" value="Veggies" name="Veggies"
    [(ngModel)]="selectedradiobuttton"
    (change)="onRadioButtonSelectionChanged()">Veggies({{veggies}})

</div>

<!-- 
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 mb-5 text-center">
            <ul class="product-category">
                <li><a href="#" class="active">All</a></li>
                <li><a href="#">Vegetables</a></li>
                <li><a href="#">Fruits</a></li>
              
            </ul>
        </div>
    </div> -->
    