
.fixed-size-img {
    width: 100%; 
    height: 200px; 

    object-fit: cover; 
  }
  

  .equal-height-row {
    display: flex;
    flex-wrap: wrap;
  }
  

  .equal-height-col {
    display: flex;
    flex-direction: column;
  }
  

  .equal-height-col .product {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
 
  