<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-search-food (searchTextChanged)="onSearchTextEntered($event)"></app-search-food>
    </div>
    <div class="col-md-6">
      <app-filter-food
        [all]="getallfood()"
        [fruits]="getfruits()"
        [veggies]="getveggies()"
        (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)">
      </app-filter-food>
     
    </div>
  </div>
</div>


<div class="row">
    <ng-container *ngFor="let food of foods |  paginate: { itemsPerPage: 6, currentPage: p }">
        <div class="food-container col-md-4" *ngIf="((searchText === '' || food.name.toLowerCase().includes(searchText)) && (foodCountRadioButton === 'All' || foodCountRadioButton === food.type))">

            <div class="food-card"   style="cursor: pointer;">
              <div [routerLink]="'/viewdetail/' + food.id">
                <div >
                  <img [src]="food.images[0].url" style="width: 220px; height: 140px;">
                </div>
              </div>
                <div class="content" [routerLink]="'/viewdetail/' + food.id">
                    <div class="food-name"><h4 style="font-weight:bold;">{{food.name}}</h4></div>
                    <div class="food-price"> {{food.price.toLocaleString('en-IN')| currency:'INR'}}/kg </div>

                  </div>
            
                <div class="food-buttons">
                  <button class="add-to-cart-button" (click)="addToCart(food)" *ngIf="!food.isInCart; else goToCartButton">
              
                      <i class="fas fa-cart-plus"></i> Add to Cart
                   </button>
                    <ng-template #goToCartButton>
                      <button routerLink="/cart" class="add-to-cart-button"><i class="fas fa-shopping-cart"></i> Go to Cart</button>
                    </ng-template>
           
             
              
                </div>
            </div>
        </div>
    </ng-container>
    <div class="pagination-container">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

