<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="admin-container">
        <!-- Sidebar -->
       
        <!-- Main Content -->
        <main class="admin-content" style="margin-left:200px;">
            <header class="admin-header">
                <div class="admin-brand">
                    <h2>Admin Dashboard</h2>
                </div>
                <div class="admin-user-menu">
                    <div class="admin-messages">
                        <a href="#"><i class="fas fa-envelope"><sup>3</sup></i></a>
                    </div>
                    <div class="admin-notifications">
                        <a href="#"><i class="fas fa-bell"><sup>3</sup></i></a>
                    </div>  
                    <div class="admin-profile">
                       <a href="#"> <span class="admin-username">Admin  <i class="fas fa-caret-down"></i></span></a>
                        <div class="admin-dropdown">
                           
                            <div class="dropdown-content">
                                <a href="#"><i class="fas fa-user"></i> Profile</a>
                                <!-- <a href="#"><i class="fas fa-cogs"></i> Settings</a> -->
                                <a href="#" routerLink="/login"><i class="fas fa-sign-out-alt" ></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

           
        </main>
    </div>
