<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <h2 id="billing">Billing Details</h2>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <label for="fname">First Name</label>
              <input type="text" id="fname" formControlName="firstname" placeholder="Your first name..">
             
            </div>
            <div class="col-md-6">
              <label for="lname">Last Name</label>
              <input type="text" id="lname" formControlName="lastname" placeholder="Your last name..">
            </div>
          </div>
          <label for="gender">Gender: &nbsp;</label>
          <span *ngFor="let gen of gender">
            <input type="radio" [id]="gen.id" [value]="gen.value" formControlName="gender">
            <label [for]="gen.id">{{ gen.value }} &nbsp;</label>
          </span><br>
          <label for="country">Country</label>
          <select id="country" formControlName="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            <option value="india">India</option>
            <option value="uk">UK</option>
          </select>
          <label for="city">City</label>
          <input type="text" id="city" formControlName="city">
          <label for="state">State</label>
          <select id="state" formControlName="state">
            <option value="rajasthan">Rajasthan</option>
            <option value="california">California</option>
            <option value="columbia">Columbia</option>
            <option value="scotland">Scotland</option>
            <option value="gujarat">Gujarat</option>
          </select>
          <label for="streetName">Street Address</label>
          <input type="text" id="streetName" formControlName="streetName" placeholder="Your address">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" placeholder="Your email..">
          <label for="phone">Phone</label>
          <input type="tel" id="phone" formControlName="phone" placeholder="Your phone number..">
          <label for="zip">Zip Code</label>
          <input type="text" id="zip" formControlName="zip" placeholder="Your zip code..">
          <input type="submit" value="Submit and Pay" id="btn">
        </form>
      </div>
    </div>
  </div>
</div>
